* {
    background-color: #D5D0CD;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.theme {
    background-color: #36494E;
    color: white;
    margin: 1%;
    border-radius: 20%;
}

#me {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

#name {
    font-size:100px;
    color: #36494E;
}

#title {
    font-size:65px;
    color: white;
}

h2 {
    color: #36494E;
    font-size: 30px;
}

h3 {
    color: #36494E;
}

p {
    color: #36494E;
    font-size: 20px;
}

em {
    font-weight: bold;
}

#about-me {
    width: 60vw;
    margin: 4%;
}

#skills {
    width: 60vw;
    margin: 4%;
}

#logos {
    width: 80vw;
    height: 40vh;
}

.img {
    width: 13vw;
    height: 13vh;
    margin: 1%;
}

aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 300px;
    right: 0px;
    background-color: #D5D0CD;
    height: 50vh;
    width: 12vw;
    align-items: center;
    align-content: center;
    border: 2px solid white;
    margin-right: 1%;
}

.side-logo {
    width: 10vw;
    height: 10vh;
    margin: 2%;
}