* {
    background-color: #D5D0CD;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* #wallpaper {
    width:1420px;
    height: 800px;
} */

main {
    margin-left: 10%;
    margin-top: 0%;
}

#name {
    font-size:100px;
    color: #36494E;
}

#title {
    font-size:65px;
    color: white;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

#about-me {
    display: flex;
    margin: 1%;
}

#photo {
    width: 500px;
    height: 500px;
    margin: 1%;
}

#skills {
    margin: 1%;
}

.img {
    width: 120px;
    height: 120px;
    margin: 1%;
}

#projects {
    margin: 1%;
}

#link-section {
    display: flex;
    flex-direction: column;
}
.line {
    display: flex;
    align-items: baseline;
}

aside {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 450px;
    height:260px;
    width: 100px;
    border: 2px solid white;
    border-radius: 15%;
    margin-right: 1%;
}

.side-logo {
    width: 70px;
    height: 70px;
    margin: 2%;
}
